/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* XTerm styles */
.xterm {
  font-family: 'Courier New', courier, monospace !important;
}

.xterm .xterm-viewport {
  background-color: #000;
  overflow-y: scroll;
}
